<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>

<font color=CCInfoHeader>Alien Encounters</font> 

<font color=CCInfoHeader>The attack, how it works</font>

<font color=CCInfoText>The way the attack works is that the Aliens will spawn at levels based on the org members present in the city. The more org members that arrive, the more aliens will spawn. The more players leave/die the less aliens will spawn. There is also some randomness added to this, where you might risk getting a mayhem attack or a powerful attack. These attacks will spawn more aliens, and on somewhat higher levels than the players. But this is out of your control. If other people from outside your organization come to help you that's all good, but there will not be spawned additional aliens to these people as it would easily risk attacks getting a bit out of hand.

There is also the consideration of other non org players, these can be quite useful to have nearby as the alien attack will only count the players from the organization present in the city. If you add these people into your tactics you will soon see that they are a really useful resource and they might be able to just save the day for you and your fellow org members.

Some tactics might be worth considering: Now that the organization has the tool in hand and knows the basics of the logic, they should also be able to trigger alien attacks for all level ranges in the organization. If it's not possible to do it all in one attack this might be a scenario you want to consider: Let the newly recruited low level members team up and be left alone in the city. The high levels hide in the HQ for immediate assist if/when needed. 

Aliens detect members in the city, not those who are inside city buildings. Their target will be the City Controller. The most dangerous alien is the Hacker'Uri, which can do serious damage to your CC, it must be taken down as soon as possible at every wave. There is a total of 8 waves before the ground boss (General) will come down to try and take your team(s) down.

Remember that if the CC goes under 10% then the General will not show, therefore your team will not be able to board the alien ship.

Your team must be aware of the level of threat the aliens present to everyone at each wave. After the Hacker is taken down, the following alien classes should be taken down in the following order: Ankari, Xoch, Rimah, Jaax, Ilari.
</font>

<a href="file://alien index.html">Back to Main Menu</a>