<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>Alien Boss in Spaceship</font> 

<font color=CCInfoText>Once inside the spaceship, boarding teams should work their way into the alien boss room as soon as possible, since the is a time limit if the alien Fighter Pilot is not killed. Be aware that the last room is a dangerous place, and that teams will need to be well organized focused on tanks (people who will be taking the most damage from the teams) and healers keeping tanks and teams alive. Usually there are 1-2 levels before reaching the boss room.

Note: Your priority is the boss room, after that is cleared go back and finish off the remaining aliens you left behind in the ship.

It is very likely if either tanks or healers are killed the aliens will get a drastic advantage. 

There are two kinds of boss room.</font> 

<font color=CCInfoHeader>Boss Room with Mini-Bosses</font> 

<font color=CCInfoText>In this boss room the first objective is to kill the Fighter Pilot (if he is not killed in time, he will move the ship into orbit which will result in killing all people who boarded the ship), who may have a few aliens guarding him. After he is dead, immediatly run across from where you entered the room to the other end of the room. Be sure to stand behind the walls while the tank (player who can take the most damage) is in the middle so he gets aggro first) 

You will find that the other side will provide you with cover, be sure to leave the tank exposed in the middle so the each wave can be lured to him while the rest of the team is safe and ready to attack on the sides behind walls. As soon as each wave attacks the team should immediatly assist the tank and kill all aliens as quick as possible. After each wave is killed a mini-boss will spawn (he won't move, so you need to go to him once the wave is eliminated). The boarding teams will face about 9 waves and mini-bosses before the Alien Boss shows his ugly face. 

Note: Sometimes after the Pilot a large Zix will spawn in the same spot, and he will have smaller zixes around it, they will be easy to kill and each will give you full AXP for their level. After you deal with the wave take out the large Zix, then run back and wait for the wave for the first mini-boss. There is also a chance that more than one Zix boss will spawn.

Take care of each wave as they show up, then take the mini-bosses one by one. There is a total of 9 mini-bosses, which means you will need to use the following tactic.

After the mini-boss Channeler a team will need to switch back to the side of the room from which they originally entered (south). This is because the wave will be too close to the other side of the room and it may force the mini-boss to spawn sooner, making the team more vulnerable to his attacks since they will be in range. The entire team will be open to attack by the waves from that point on, however they will be next to the button that gets them to the level below in the ship, given them a way to get out, heal up and get back to the team if need be.

Listening to team or raid leaders is crucial at this point of the raid, ignoring instructions or trying to do things on your own will likely get yourself and everyone else killed.

After all the mini-bosses are killed, then the Fleet Admiral will show his ugly face. Here is where things may get tricky. The boss will spawn other aliens to attack the team. It is imperative that the team ignore the adds, and focus only on the boss. The boss will continue to spawn more adds as you kill them, so you will never kill all the adds anyways. As soon as the boss is dead, all the aliens he spawned will dissapear and the team will be safe. </font> 

<font color=CCInfoHeader>Boss Room with Cocoons</font> 

<font color=CCInfoText>In this boss room the first objective is to kill the Alien Reproduction Technician (if he is not killed in time, he will move the ship into orbit which will result in killing all people who boarded the ship), who may have a few aliens guarding him. It may be a bit hard to target the hostile aliens because of the large number of cocoons, so instead of using TAB be sure to target with your mouse cursor. 

After he is dead, immediatly run across from where you entered the room to the other end of the room. Be sure to stand behind the walls while the tank (player who can take the most damage) is in the middle so he gets aggro first.

After the Reproduction Technician is killed, then the alien boss, the Recruitment Director will show his ugly face. Here is where things may get tricky. The boss will spawn other aliens to attack the team. It is imperative that the team ignore the adds, and focus only on the boss. The boss will continue to spawn more adds as you kill them, so you will never kill all the adds anyways. As soon as the boss is dead, all the aliens he spawned will dissapear and the team will be safe. The Director will always drop Lead Viralbots.

Note: Because the team will spend a lot less time killing the boss in the cocoon room, you may feel that the City Controller is taking longer to recycle to turn the cloaking device on. The amount is the same, the difference is that with facing the boss so quickly you have cut your time by quite a bit in the ship.
</font> 

<a href="file://alien index.html">Back to Main Menu</a>