<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>Rubikan Alien Ranks</font> 

<font color=CCInfoText>Alien Level and respective rank: </font>

0 None 
1 Fledgling 
2 Amateur 
3 Beginner 
4 Starter 
5 Newcomer 
6 Student 
7 Common 
8 Intermediate 
9 Mediocre 
10 Fair 
11 Able 
12 Accomplished 
13 Adept 
14 Qualified 
15 Competent 
16 Suited 
17 Talented 
18 Trustworthy 
19 Supporter 
20 Backer 
21 Defender 
22 Challenger 
23 Patron 
24 Protector 
25 Medalist 
26 Champ 
27 Hero 
28 Guardian 
29 Vanquisher 
30 Vindicator 

<a href="file://alien index.html">Back to Main Menu</a>