<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>

<font color=CCInfoHeader>Alien Hierarchy</font> 

<font color=CCInfoText>Alien names seems to be built on the model: Rank - Class'Race. </font>

<font color=CCInfoHeader>Ranks:</font> 

Scout
Guard
Commando
Specialist
Major
Sergeant
General <font color=CCInfoText>- City Boss (always named 'Khaz)</font>
Ensign <font color=CCInfoText>- Regular mobs inside spaceship</font>
Fighter Pilot <font color=CCInfoText>- 1st Alien Ship miniboss. +5% nano damage</font>
Squadron Leader <font color=CCInfoText>- 2nd Alien Ship miniboss. +10% nano damage</font>
Wing Commander <font color=CCInfoText>- 3rd Alien Ship miniboss. +15% nano damage</font>
Second Lieutenant <font color=CCInfoText>- 4th Alien Ship miniboss. +20% nano damage</font>
First Lieutenant <font color=CCInfoText>- 5th Alien Ship miniboss. +25% nano damage</font>
Captain <font color=CCInfoText>- 6th Alien Ship miniboss. +30% nano damage</font>
Channeler <font color=CCInfoText>- 7th Alien Ship miniboss. +35% nano damage</font>
Fleet Commander <font color=CCInfoText>- 8th Alien Ship miniboss. +40% nano damage</font>
Brigadier General <font color=CCInfoText>- 9th Alien Ship miniboss. +45% nano damage</font>
Fleet Admiral <font color=CCInfoText>- Spaceship boss (always named 'Khazoh)</font>

<font color=CCInfoHeader>Classes:</font>

Ankari <font color=CCInfoText>- Low Evade/Dodge, low AR, pet masters, casting Viral/Virral nukes.</font>
Xoch <font color=CCInfoText>- High Evade/Dodge, casting Ilari Biorejuvenation heals.</font>
Ilari <font color=CCInfoText>- Low Evade/Dodge.</font>
Rimah <font color=CCInfoText>- Low Evade/Dodge.</font>
Jaax <font color=CCInfoText>- High Evade, Low Dodge.</font>
Cha <font color=CCInfoText>- High Evade/NR, Low Dodge.</font>

<font color=CCInfoHeader>Races:</font>

Uri <font color=CCInfoText>- Centaurs, casting Viral/Virral nukes.</font>
Sinuh <font color=CCInfoText>- Frogs</font>
Heru <font color=CCInfoText>- Snakes, casting Ophidian nukes</font>
Nakthi <font color=CCInfoText>- Floaters, casting Viralbot Cloud area nukes.</font>
Khaz <font color=CCInfoText>- City Boss, General</font>
Khazoh <font color=CCInfoText>- Soaceship Boss, Fleet Admiral</font>

<font color=CCInfoHeader>Other:</font>

Hacker'Uri <font color=CCInfoText>- Powerful against City Controller, does heavy damage.</font>
Zix <font color=CCInfoText>- Comes in different variations. As Pets, and does not give AXP, loot or kill count. As Boss in spaceship boss room. As regular mobs, not spawned by any alien (spawned by Zix boss tho) and give axp and kill count.</font>
Honor Guard <font color=CCInfoText>- Pets spawned by General - Ankari'Khaz and Fleet Admiral - Ankari'Khazoh</font>

<font color=CCInfoHeader>Note:</font>
<font color=CCInfoText>Mobs listed as being in spaceship are also in the Alien Playfields.</font>

<a href="file://alien index.html">Back to Main Menu</a>