<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>Recommended Gridsites</font> 

<font color=CCInfoText>These are highly recommended sites for you to visit for more information about the Alien Invasion, raiding, loot and tradeskills.</font>

AO Universe - <font color=CCInfoHeader>http://ao-universe.com</font>
AO Bulletin Board (Cities and Aliens) - <font color=CCInfoHeader>http://forums.anarchy-online.com</font>
AI Library - <font color=CCInfoHeader>http://ai.shadow-realm.org</font>
Jexai's AO - <font color=CCInfoHeader>http://www.jexai.co.uk/anarchy/</font>
Anarchy Mainframe - <font color=CCInfoHeader>http://aodb.info</font>
AUNO - <font color=CCInfoHeader>http://auno.org/</font>

<a href="file://alien index.html">Back to Main Menu</a>