<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>

<font color=CCInfoHeader>Alien Loot Distribution</font> 

<font color=CCInfoText>During a raid, be it in a <a href="file://city raiding.html">city</a> or in an <a href="file://apf raiding.html">alien playfield</a>, loot has always been a reward that people have wanted, be it for personal use or for profit. </font>

<font color=CCInfoHeader>So how do loot get distributed fairly?</font>

<font color=CCInfoText>The answer is a bit complex. In a city raid, things are simpler. The organization hosting a raid in their town usually have control by having teams set loot to team leaders who are members of their org. Loot which is used to make armor or weapon upgrades are saved for distribution after the raids, weapons are given to those able to use them at the time or in the near future. 

Nodrop items are a tougher thing to give out, since there is a limited time to grab them before they vanish. Some nodrop items are profession specific, which makes things easier when choosing who should get them. The basic rule in a city raid is: if you can use it now or soon, you probably will get it. Raffles for items is not common, since the most valuable are located in the alien playfields.

Alien Playfields raids are usually run with a raiding bot, which allows raid leaders (or administrators of the bot) to raffle or auction rare items during and at the end of the raid in a fair way. There are times, when a raid may not be run using a bot, which means that it will probably be FFA (free for all) so always be aware how the raid is being run from the start.</font>

<font color=CCInfoHeader>APF Generic Loot is: </font>

Kyr'Ozch Video Processing Unit.
Kyr'Ozch Battlesuit Audio Processor.
Kyr'Ozch Rank Identification.
Kyr'Ozch Battlesuit Water Processing Unit.
Kyr'Ozch Battlesuit Gauntlet.
Hacker ICE-Breaker Source (can be turned into 100% CRU)

<font color=CCInfoHeader>APF Sector 28 Loot is:</font>

Kyr'Ozch Helmet <font color=CCInfoText>- Turn this in to the Omni-Tek Observer or the Clan Liaison upstairs by the bar for the 2500 Token Board.</font>

Inertial Adjustment Processing Unit <font color=CCInfoText>- Makes Hadrulf's Viral Belt Component Platform and it can improve Diamondine Kick Pistols and Murder Mauls of quality lvl 250 or greater (automatically upgrades pistol or maul to ql 300 as well).</font>

Notum Amplification Coil <font color=CCInfoText>- Upgrades the Augmented Hellspinner Shock Cannon, Aquarius's Multitask Helper, or a Kyr'Ozch Carbine (Type 5, 12, or 13) of quality level 250 or greater (automatically upgrades carbine to ql 300 as well).</font>

<font color=CCInfoHeader>APF Sector 35 Loot is:</font>

Kyr'Ozch Helmet <font color=CCInfoText>- Turn this in to the Omni-Tek Observer or the Clan Liaison upstairs by the bar for the 2500 Token Board.</font>

Energy Redistribution Unit <font color=CCInfoText>- Makes Blades of Boltar, uprgrades Vektor ND shotguns, and creates De'Valos Lava Protection Ring.</font>

Visible Light Remodulation Device <font color=CCInfoText>- Makes De'Valos Radiation Protection Ring, upgrades salabim shotgun, and upgrades concrete cushions to Explosif's Polychromatic Pillows</font>

<font color=CCInfoHeader>APF Sector 13 Loot is:</font>

Kyr'Ozch Helmet <font color=CCInfoText>- Turn this in to the Omni-Tek Observer or the Clan Liaison upstairs by the bar for the 2500 Token Board.</font>

Action Probability Estimator <font color=CCInfoText>- Upgrades Molybdenum helmets, Knight helmets, or Combined Headwear of quality level 250 or greater.</font>

Dynamic Gas Redistribution Valves <font color=CCInfoText>- Upgrades an Excellent Sleek Cannon, the Lord of Angst, or Kyr'Ozch Rifles (Type 2 or 3) of quality level 250 or greater.</font>

<a href="file://alien index.html">Back to Main Menu</a>