<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>
<font color=CCInfoText>This is an alien database compiled by Windguaerd, available to the rubikan public. You can use the information provided here to organize raids against the alien invading forces or learn battle tactics for such raids. You can also learn more about <a href="file://aou.html">AO Universe</a>.</font>

<font color=CCInfoHeader>The Basics</font> 
<a href="file://city controller.html">The purpose of a City Controller</a>
<a href="file://recharging cc.html">Recharging a City Controller</a>
<a href="file://cloaking device.html">Cloaking Device features</a>
<a href="file://cru.html">What is a CRU and how to get it</a>

<font color=CCInfoHeader>Battle Tactics</font> 
<a href="file://alien encounters.html">Alien Encounters</a>
<a href="file://alien city boss.html">Alien Boss in City</a>
<a href="file://boarding spaceship.html">Boarding Alien Spaceship</a>
<a href="file://alien ship boss.html">Alien Boss in Spaceship</a>
<a href="file://alien xp.html">Alien XP</a>

<font color=CCInfoHeader>Alien Raiding</font> 
<a href="file://city raiding.html">Raiding in your City</a>
<a href="file://apf location.html">How to get to APF</a>
<a href="file://apf raiding.html">Raiding in the Alien Playfields</a>
<a href="file://apf missions.html">APF Mission Tactics (Sectors 13, 28 and 35)</a>
<a href="file://apf sector 42.html">APF Sector 42</a>
<a href="file://alien loot.html">Alien Loot Distribution</a>

<font color=CCInfoHeader>Alien Intel</font>
<a href="file://alien hierarchy.html">Alien Hierarchy</a>
<a href="file://alien ranks.html">Rubikan Alien Ranks</a>
<a href="file://city boss lead virabots.html">City Boss Lead Virabots</a>
<a href="file://alien gridsites.html">Recommended Gridsites</a>
<a href="file://alien credits.html">Credits</a>