<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>

<font color=CCInfoHeader>Alien Boss in City</font> 

<font color=CCInfoText>The Aliens have a mission to cripple the <a href=file://city controller.html>City Controller</a>. The General will spawn after 20 minutes if the Aliens cannot reach their target of getting the controller down to 10% during the span of the attack. (The length of the attack can vary from 20 minutes to 40 minutes). So to make sure you have a possibility of getting access inside the spaceship, make sure your controller is fully repaired (bar is to 100%). 

The General may also spawn sooner if the Aliens have no chance to win, even with reinforcements, so the faster you kill the aliens the faster the boss will spawn and the less you need to charge your controller.

Note: So far most raids will have 8 waves and then the Alien General will show up.

The Boss level is based on the number of present org members in the city and level. Max level on the boss is level 300, so he can be a real tough one. Also here you can greatly benefit by having other people that are not members of your org present in your area, as the final Boss can be quite the challenge.</font>

<a href="file://alien index.html">Back to Main Menu</a>