<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> <font color=CCInfoHeader>Credits</font> 

<font color=CCInfoText>I'd like to thank all the players who posted in the AO 
Forum "Cities and Aliens", specially Snurre (Alien Hierarchy), Turk021 (Alien 
APF Loot list and APF Mission Tactics), Herodotus (Rubikan Alien Ranks) for hosting 
and running the "AI Library" site, Cybershead for hosting and running the "AO 
Tradeskills" site, Jayde for running the "Anarchy Mainframe" site, the people 
who run bots for APF and Alien Raids so players can get AXP and phat lewt (specially 
apfbot), Marius Enge for sharing how the basics of AI works and Mercury Dragons 
Clan for encouraging me to compile all the info and getting this Alien Database 
done for the rubikan public. 

Special Thanks (v3.0) to:

Niceas, Nova31337, Chimx, Talad1, Kzak (you will be missed bud!), Silirrion (keep up the good work!) and to all the members of my clan </font><font color=CCInfoHeader><a href="chatcmd:///start http://mdso.ao-universe.com/">MD - Special Ops</a></font><font color=CCInfoText> for the great raids. 

Additional Acknowledgements (v3.0):

Ihnnaw, Kyai, Paja, Hypocrisy
</font> <a href="file://alien index.html">Back to 
Main Menu</a>