<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>

<font color=CCInfoHeader>Alien XP</font> 

<font color=CCInfoText>So now that you have been through your encounter with the Aliens you see that you will gain Alien Experience. The Alien Experience works in almost the same manner as normal XP. You don't gain any new levels though, but you gain new titles. There are a total of 30 titles, and each title gives you the ability to gain a new Alien Perk. The Alien Experience is not experience that is saved in your pool. You are risking loss of a certain amount of Alien XP permanently, if you die from an alien attack. You will not loose Alien XP by getting yourself killed by another monster, for example in Shadowlands, the monster killing you needs to be an Alien for you to lose AXP. The amount you lose is also based on your level, and the alien's level. This means you should avoid getting killed by Aliens that are lower level than you. Your loss will be higher this way, than if you got killed by an alien that is higher level than you. 

The way you gain Alien XP is also calculated in the same way, the more high level the Alien is, the more XP you will get. High level players will see that they will now gain more AXP from killing a similar level Alien than low level players do for killing a similar level Alien, giving the high level players a slightly upper hand. You are however not able to gain more than 10% of what you need to get to the next title level per kill, and you are not able to loose more than 25% of the AXP you need to get to the next level. 

You are able to go down in titles, but you will never lose a perk you have gained access to.</font>

<a href="file://alien index.html">Back to Main Menu</a>