<font color=CCInfoHeadline>About AO Universe</font> 

<font color=CCInfoHeader>What is AO Universe?</font> 

<font color=CCInfoText> A fansite run by players, for players (from roleplayers to casual and powerplayers).

RP content, including stories from players, revisiting past events which shaped AO's storyline, past and current details on official storyline content, RP related news from the roleplaying community (including org advertising). Also feature links to the official forums (related to RP only). We also have RP/Social Reporters to cover and write about events on Rubi-Ka.

We support entertaining groups like </font><font color=CCInfoHeader><a href="chatcmd:///start http://www.gridstream.org/">Gridsteam Productions</a></font><font color=CCInfoText>, </font><font color=CCInfoHeader><a href="chatcmd:///start http://excessradio.com">Excess Radio</a></font><font color=CCInfoText> and any group of players or individual player who brings something to the game for others to enjoy.

Guides content, we have dozens of guides for Classic AO, Notum Wars, Shadowlands, Alien Invasion and we even have a section ready for the upcoming Lost Eden expansion. We currently host more guides than any other fansite that currently exists (including the larger gaming network sites). This will be useful to all types of players. 

Powerplaying content, this includes annoucements of raids (regardless of server, faction) by players, listing of raiding bots (and what is required to join them), basic rules of raiding and steady support for the powerplayers. This will include (whenever possible) the many wars that are fought over Notum Bases (we will try to cover news of battles as well if possible). We currently host 3 raid bots forums at AOU from both servers.

We also host additional content/downloads like overall utilities used by the community, like Clicksaver, AOShopAgent, AOScripter, Launcher Skins, Wallpapers, etc.

We have a set of forums for all types of players to interact, exchange information, share AO stories, and more.

Those who want to become a Team members/volunteer do so on their own accord, no pay, only gratification will be...you did it for the community, the friends you play with, and the love for the game.

<font color=CCInfoHeader>Our Generous Sponsor:</font> 

Currently we're hosted by http://netmastering.nl at no cost, their contribution to the AO Community.

<font color=CCInfoHeader>Special thanks:</font> 

To Xitami for hooking us up with our hosting and domain and to the many players who supported this project, you made this happen!

To the wonderful AOU Team who have built the site from a player's point of view with their dedication and love for the game making AOU a quality fansite.

So check out </font><font color=CCInfoHeader><a href="chatcmd:///start http://ao-universe.com">(http://ao-universe.com)</a></font><font color=CCInfoText>and tell your AO friends and guildmates about us!</font> 