<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>Raiding in the Alien Playfields</font> 

<font color=CCInfoText>The concept is the same as with the <a href="file://city raiding.html">Raiding in your City</a>, however the Alien Playfields are so hard that only high levels (200+) should consider going there. 

There are a few bots (text bots which allow people to run raids in an organized fashion) that allows rubikans of different factions (mostly clan and omni, neutrals usually get in either) to get together at the right time to enter the Alien Playfields Sectors. 

Be aware that some of these bots have requirements to join them (apfbot for example requires you to be level 205 to join). The APF has 4 different sections which are: 13, 28, 35 and 42. Section 13, 28 and 35 can be accessed through a gate that is opened every 7 hours for 10 minutes (once inside a sector, you can use an exit, but after the gates close you can't rejoin the raid).

Usually bots keep good track of this schedule and announce a raid between 1 hour to 30 minutes prior to the gates opening. Each section can be accessed when the gates open, however for the final bosses to appear it is required that a team pick up a mission from an Unicorn Officer (this applies to sectors 13/28/35). Each <a href="file://apf missions.html">mission</a> will trigger a set of events in the section chosen by the team. Alien Bosses in each sector have a number of generic loot, and some are specific for the section where the alien boss is located. 

Sector 42 is different however. Access to it requires that you have a Decrypted Kyr'Ozch Data Core. The item can be gained by getting a Data Core from sectors 13/28/35 (the bosses there drop them) and handing them over to the Unicorn Access Supervisor by sector 42 (3 datacores will make the key). Now there is something else you must keep in mind, once you show your Decrypted Kyr'Ozch Data Core to the Unicorn, you will get a 20 minute authorization nano in your NCU, after that you cannot receive it again from him for another 9 hours from the time you got the authorization which means you should only do this when everyone is ready to enter. 

Another twist is that once you're inside sector 42 you will have 90 minutes before you're automatically warped out of the playfield. If you think getting inside is a hassle, there is yet another thing to consider. The area is zerg-proof, this means  that bringing a large number of players will actually lower the chances of success because more aliens will spawn. The consensus is that 4-5 balanced teams have a chance to succeed. The sector is much larger compared to the others, and it is split into east, west and north sectors each with bosses. I provide more details on the <a href="file://apf sector 42.html">APF Sector 42</a> part of the database.</font>

Note: <font color=CCInfoText>If a tower is taken down inside Sector 42, access to it is closed for one hour. </font>

Tip: <font color=CCInfoText>You can use Decrypted Kyr'Ozch Data Core to warp directly into APF of you are in ICC or near ICC so you won't have to wait for the shuttle anymore.</font> 

<a href="file://alien index.html">Back to Main Menu</a>