<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>APF Sector 42</font> 

<font color=CCInfoText>Sector 42 which is different from the other sectors. Let me start by saying that once you're inside you'll only have 90 minutes before you're automatically warped out of the playfield. The area is zerg-proof, this means that bringing a large number of players will actually lower the chances of success because more aliens will spawn (and respawn). The consensus is that 4-5 balanced teams have a chance to succeed. 

The sector is much larger compared to the others, and it is split into 3 areas within: east, north and west each with bosses at the end of them. Aliens here are more powerful than in other sectors, so be ready for hell.

As of this version (3.0), the mystery of Sector 42 has not been solved. No raid has managed to take down all bosses within 90 minutes, which many suspect will trigger something big in the sector.</font> 

<font color=CCInfoHeader>General Tactics</font>

Objective: Fight your way to an Alien Boss

<font color=CCInfoText>Each area will have a boss that will have loot similar to those in the other sectors. The main obstruction are not the regular aliens, but the Heavy Patrollers that will slow you down (and time is certainly against you in this sector) which will allow more aliens to spawn. The tactic is continous movement and have tanks (players able to take most of the damage) handle the patrollers as the force as a whole moves forward. Patrollers have a respawn timer of about 30-60 seconds so moving is imperative. 

It is common to 'drag' 2 patrollers along while continue killing aliens, more than 2 of them would make things more difficult overall as you encounter more patrollers. Healers will have their hands full with the patrollers in tow (they hit fairly hard), so watch your hp at all times.

There are a few things that work, such as crats debuffing the patrollers with Malaise + MP debuffs on top.

It will take some time to get familiar with each area, so don't expect on your first run to even survive. Just follow those who have been there before you and don't run ahead or stay behind otherwise you'll be dead quick.</font>

<font color=CCInfoHeader>Spawning the Boss</font>

Objective: Destroy the Alien Defense Tower and Terminate Alien Boss

<font color=CCInfoText>You will fight your way to a laser fence, where you will have to click a Biological Transceiver which will last 5 minutes as you will have to move through a corridor and reach another laser fence (there are two Tranceivers, the other one will give a 20 second nano so be sure you use the correct one). You need to move fairly fast to avoid getting stuck in between both fences. 

Passing the second fence you will encounter a large area (there is plenty of room to move if need be) where you will find an alien defense tower, which won't be difficult to take down as long as players with ranged weapons do the job (melee attacks will trigger more adds). However they will become the main targets of adds and Heavy Patrollers that will try to kill those engaged against the tower. The problem won't be handling the tower or the incoming aliens but what happens right after the tower is taken down.

The boss will show up, and he will not be alone. Adds will spawn at a fast rate so 1-2 teams should handle him while the rest should kill the aliens. Players will be cocooned and will handicap teams specially when tanks/healers are incapacitated so it should be a priority to handle cocoons among the adds. Alien Vectors will spawn in large numbers so don't get caught offguard at any time. This will be a nonstop fight to the end, it will take a second of hesitation and you can be dead on the spot.</font>

<font color=CCInfoHeader>East Side Alien Boss:</font> Unknown.

<font color=CCInfoHeader>North Side Alien Boss:</font> Unknown.

<font color=CCInfoHeader>West Side Alien Boss:</font> Proto-Embalmer Cha'Khaz, drops same loot as Alien Boss in Sector 28.

Note: <font color=CCInfoText>The Hacker ICE-Breaker Source that drops from other sectors alien bosses are a regular drop in aliens in sector 42. The same applies to token items.</font>

Tips:

<font color=CCInfoText>1. Everyone should be in leet form at the start of the raid and pets are not recommended (they probably will be a liability with aliens), this will make it easier for calling.

2. Have specific callers in the raid, this way aliens are taken down quickly allowing the raid force to move forward faster.

3. The most efficient order to call on aliens is as follows: Drone Harvesters, Cocoons, Vectors, Larvae, Regular Aliens, Patrollers.

4. Drone Harvesters are the ones that make Cocoons, take them down quick as you kill cocoons because they can put an end to the entire raid when facing an alien boss.

5. Be aware that Vectors spawn Larvae.

6. Normal aliens seem to have some resistance agains mezz, but usually works, same thing with UBT.

7. Keep moving, don't wait too long at one spot. Kill aliens, and move.
</font>

<a href="file://alien index.html">Back to Main Menu</a>