<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>APF Missions (Sectors 13, 28 and 35)</font> 

<font color=CCInfoText>Here is detailed information regarding each APF sector, the missions given by the Unicorn Officer for each one, objectives, alien information and helpful tips.</font> 

<font color=CCInfoHeader>Sector 28 Intel</font>

Objective: Protect the Rookie Alien Hunter

<font color=CCInfoText>In this sector, you follow the NPC the rookie alien hunter. You follow him through a series of canyons loaded with groups of aliens. There are also several ambushes along the way. THE ROOKIE MUST STAY ALIVE UNTIL THE END! 

If the rookie dies, you must go back and get a new one, which is a major time waste because it is basically redoing the whole sector. Also, along the way through the canyon, there are several laser fences blocking the way. Do not run into these, as they will insta-kill you. When you come to these, stay behind the rookie and he will disable them at which time they are safe to pass through.</font>

Alien Boss: Embalmer Cha'Khaz 

<font color=CCInfoText>This boss spawns in the middle of the last section of canyon as long as the rookie is still alive (after this it doesn't matter if the rookie dies). Let a single person (the tank) attack the embalmer to build hate, and NO ONE ELSE. The boss will spawn several adds: Support Sentries, Alien Pods, and regular aliens. Kill these immediately, especially the support sentries as they can cast protection/heal nanos on boss. The pods are a real pain too as they "capture" someone inside them, rendering that person unable to do anything until the pod is killed. 

We recommend having everyone assist a caller on the adds while the tank is building aggro. Once the tank has sufficient aggro (1-1.5 bars of health), everyone should attack the embalmer. Keep in mind that adds spawn throughout the fight so everyone should re-assist the caller frequently to make sure the adds stay to a minimum. It seems that when the embalmer is almost dead he starts to wipe aggro and attack random people--be prepared for this, docs.</font>

Tips:

<font color=CCInfoText>1. Stay with the rookie at all times! People get anxious and want to pull aliens from ahead, but this could leave the rookie open to one of the sudden ambushes that occur frequently.
2. If the rookie's health gets low, the only way to heal him is by putting MP heal pets on him.
3. Attacking and/or healing the rookie will result in insta-death. DO NOT ATTACK OR HEAL THE ROOKIE. AoEs have been fixed, the only ones that are not allowed are martial artist and fixer area hit special attacks (eg Cluster Bullets).</font>

<font color=CCInfoHeader>Sector 35 Intel</font>

Objective: Assist the Unicorn Field Engineer

<font color=CCInfoText>In this sector, you clear the whole are of the aliens - just run through and kill em all to get maximum AXP. Ignore the ship and the unicorn in the center of the sector for now. Once the sector is cleared, everyone should gather under the ship. Only the mission holder should speak with the Unicorn Field Enginner, at which time 3 towers will spawn around the ship (Don't attack or heal these towers as the result is insta-death). 

**If these towers are destroyed then the generals wont come**. Waves of aliens will come in at staggered times from every direction, successfully kill them and keep the towers from being destroyed. After the waves, the generals come. </font>

Alien Bosses: Field Marshal Cha'Khaz and Field Support Cha'Khaz

<font color=CCInfoText>Both of these generals come at the SAME TIME (recommended 2 tanks, one per general). Let tanks build aggro then attack the support general first. Do this because while the support general is alive, the field marshal will have a huge reflect shield and you will be hitting him for about 40-80 dmg. Once support is gone, kill the field marshal. These bosses spawn NO ADDS so don't worry about those. These bosses also do not wipe aggro.</font>

Tips:

<font color=CCInfoText>1. Do NOT HEAL OR ATTACK THE TOWERS as the result is insta-death. The only AoEs NOT allowed are martial artist and fixer area hit special attacks (eg Cluster Bullets).</font>

<font color=CCInfoHeader>Sector 13 Intel</font>

Objective: Assist the Unicorns in preventing the aliens from making a Base

<font color=CCInfoText>In this sector, proceed along throught the canyon and kill all the aliens (there are several ambushes along the way). The canyon will eventually open into a wide crater with regular aliens in the center and a group of Supports and Sentries on the far side. Kill the regular aliens, and have one person pull the Support aliens from the far side. DO NOT attack the Sentries as they have a massive reflect shield while the Supports are alive. 

The mission-holder should now proceed to talk to the Unicorn Commander on top of the hill surrounding the crater (He can be found by running back throught the canyon towards the entrance until you reach a tree with large roots. At this time use the roots to jump onto a cliff edge on the right side of the canyon. Follow this cliff until it ends and you will find the Unicorn Commander). This will call down a large ship into the center of the crater, and a bunch of Unicorn Troopers will storm out towards the Sentries and attack them. Do not attack the Sentries until their shield has run out (should be shortly after Supports are killed). 

Once they are all dead, click on the Biological Transceiver to recieve a nano cast in your NCU (needs 10 free ncu). Up ahead past the crater is another laser fence. **You can only pass through as long as the protection nano (shows up yellow in your NCU) is running on you** Failure to have the protection nano on you while running throught the fence results in insta-death. The boss now awaits.</font>

Alien Boss: Master Genesplicer Cha'Khaz

<font color=CCInfoText>As with all the generals, let a tank build aggro before everyone attacks. This boss also spawns many adds so I recommend having an add-caller that everyone frequently assists to keep adds to a minimum. Adds spawned include support aliens, regular aliens, and alien vectors. These vectors, if not killed quickly, spawn large amounts of alien larvae. Whole raids can and have been wiped due to not killing vectors quickly enough. This boss seems to wipe aggro once he is nearing death.</font>

Tips:

<font color=CCInfoText>1. Do not heal or attack the Unicorn Troopers. AoEs that are NOT allowed are martial artist and fixer area hit special attacks (eg Cluster Bullets)
2. Stay off the rock in the center of the crater.
3. Don't run through the laser fence if you don't have the protection nano in your NCU.</font>

<a href="file://alien index.html">Back to Main Menu</a>