<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>How to get to APF</font> 

<font color=CCInfoText>To get there use a Whom-Pah to ICC and head northeast through a small tunnel in the wall of the ICC headquarters. Continue through the tunnel into a small valley, and on past that until you reach a large paved square landing pad with Unicorns at each corner. At the far end of the landing pad, there is a Unicorn Landing Beacon. Wait here until a shuttle comes (every 10 minutes). At this time a blue circular portal will appear at the base of the Unicorn Landing Beacon - step in. Once in, head downstairs and across a bridge (or you can run straight ahead and jump off the downramp to arrive immediately at the elevator). Follow the signs by turning left after the bridge, and you will arrive at an elevator. Right-click the elevator controls and you are now in the "staging area" of the playfields. You can talk to the Unicorn here to see how long till the gates open.

Please be aware that anyone can enter the area through the shuttle, but to actually use the elevator and get down to the alien playfields below it is required that you be level 180 or higher. Usually teams accept only level 205 or higher players because anyone lower level than that has a low chance of survival.</font> 

<a href="file://alien index.html">Back to Main Menu</a>