<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>

<font color=CCInfoHeader>Boarding Alien Spaceship</font> 

<font color=CCInfoText>Once the <a href="file://alien city boss.html">Alien General</a> is killed on the ground, certain boarding teams consisting of players from the org and guests will be allowed to enter the enemy ship. The boarding teams will be made based on the levels of the organization players present. The people in a boarding team needs to be within XP range of each other, meaning they can get XP together in a team. The profession is also taken into consideration when boarding teams are selected. The system will then select out the players that get XP together and will give access to the ship (a playfield) only for these people. You will see the message as a popup box saying that you have been picked for the boarding team if that's the case. 

A boarding team needs to have a minimum of 4 players, and maximum of 18 players. If there are more players present the game will create up to 6 different insides, with different ranges on the aliens inside. 

It is very important that everyone is very close to the City Controller (stay on the white base to be sure) when you have killed the Alien General to get an invitation into the ship. </font>

<a href="file://alien index.html">Back to Main Menu</a>