<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>

<font color=CCInfoHeader>Alien Boss Lead Virabots Loot Drops</font> 

<font color=CCInfoText>Each Alien General and Admiral you face will have a chance to drop the Lead Virabots that are crucial to the creation of Alien Armor. The following is the list that will determine the type of bot that each one drops.</font>

<font color=CCInfoHeader>Ankari</font> - Arithmetic Lead Viralbots

<font color=CCInfoHeader>Xoch</font> - Enduring Lead Viralbots.

<font color=CCInfoHeader>Ilari</font> - Spiritual Lead Viralbots.

<font color=CCInfoHeader>Rimah</font> - Observant Lead Viralbots.

<font color=CCInfoHeader>Jaax</font> - Strong Lead Viralbots.

<font color=CCInfoHeader>Cha</font> - Supple Lead Viralbots.

<a href="file://alien index.html">Back to Main Menu</a>