<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>Raiding in your City</font> 

<font color=CCInfoText>Be sure to form teams before you trigger an attack. It is highly recommended that you have a doctor in every team, or two healer types to help the team with healing. A good damage dealer is also needed, specially when taking on an Alien General (be it on the city or in the spaceship). Be sure that every team has people who are within level range so that everyone gets Alien xp from the encounter. 

All teams should get ready before the Cloaking Device is turned off, this means getting buffed (using nanoformulas to enhance yourself, your team and anyone who may need them), making sure you have nano and health kits, ammo and the best weapon equipped. This is the best time for you to ask for additional time in case you forgot something. 

Usually if an organization has people outside their org invited to the raid, it is members of their org that get the valuable loot (from the ground General and the Admiral in the ship), unless an agreement is made beforehand. Be sure to clarify this before the encounter to avoid disputes of loot during the attack. 

There will be time when defeat is obvious, so a pre-arranged sign (like screaming "EVAC!") should be known so everyone can retreat either by running, jumping into their yalmaha or using any city Whom-pahs to escape. 

The organization hosting the raid should at all times keep their guests (people not in the org participating in the encounter) informed as to when the aliens have detected the city and also from which direction the aliens will land and attack.

If the defense of the City Controller goes well and the General is defeated, every team that has a member of the organization hosting the raid will have access to the alien spaceship (they must be teamed before the General is attacked, not afterwards).

Note: The team must be next to the City Controller (right on it's base prefferably) to have a 100% chance to get access to the alien spaceship. If anyone is not close to the CC, it is likely they won't be able to board with the rest of the team.
</font> 

<a href="file://alien index.html">Back to Main Menu</a>