<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>

<font color=CCInfoHeader>The purpose of a City Controller</font> 

<font color=CCInfoText>This is the heart in every city. One of the reasons the Aliens attack the cities is because of the resources the City Controller requires. The City Controller is therefore the primary target for the Aliens. 

When Aliens are attacking the City Controller will take damage to it's charge. There is nothing you can do to prevent this except kill the Aliens present in the City as quickly as possible. There is also a certain NPC you want to take out faster than the other Aliens. 

The Aliens will not start an attack on a city that has a controller that is lower then 50% in charge. If you have below this in charge on the controller, you are not able to trigger any attacks, and there wont be any regular attacks happening. An attack will happen within 3 days on average, or one week on average if you have a cloaking device. 

Aliens will attack in hours when they have observed 5 or more players online. If the org is online, but not present in the city when an attack is triggered, the Aliens will send a low level Alien that will just be there to destroy the controller. If org players then arrive to kill this low level Alien, the next wave will of course be more powerful. 

When the City Controller is below 10% of its charge, the Aliens will assume they have won the battle and will not attack the city anymore. If there is an attack in progress, the Aliens will stop sending in new waves of Aliens if the controller gets below 10% of its charge and you will not get access to the final outside boss or the possibility to get inside the spaceship.

Another thing that happens when the controller gets below 10% is that the advantages you receive from the house will be disabled. Note, you will NEVER lose your city or your area because of this. Even if the controller is at 0% charge, the only thing that will get affected is the advantages from your buildings. You will still keep your city and the buildings there.</font>

<a href="file://alien index.html">Back to Main Menu</a>