<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font>

<font color=CCInfoHeader>Cloaking Device features</font> 

<font color=CCInfoText>This is where you are given all the power to control your own destiny.</font>

<font color=CCInfoHeader>If the cloaking device is ON</font>
<font color=CCInfoText>This will protect the city against Alien attacks. When the controller is in this status there will be one attack per 7 days on average. When this happens is a good mix of when the members in the org are online (note, you don't need to be online in the city for this to happen).</font>

<font color=CCInfoHeader>If the cloaking device is OFF</font>
<font color=CCInfoText>This will make the city more vulnerable to attacks, and the city will get one attack per 3 days on average. The rules for when the attack will come are calculated the same way here as above. It is a mix of randomness and also takes into account the amount of org members online. </font>

<font color=CCInfoHeader>If you don't have a cloaking device</font>
<font color=CCInfoText>This will work in the same way as when you have the cloaking tower status set to OFF.</font>

<font color=CCInfoHeader>If the cloaking device is turned OFF from the state ON</font>
<font color=CCInfoText>This is where your organization can make the magic happen. As soon as you turn the cloaking device OFF your city will pop up on the Alien's radar. You will then be guaranteed an attack within 5 minutes. The Alien attack coming will be scaled to the people present around the city controller and in the city (it only recognizes members of the org that owns the city being attacked). Also note, you are not able to change the status of the controller during an attack. To prevent hordes of Aliens and several attacks there is a timer on turning the Cloaking Device ON/OFF. As soon as you have changed the status of the Cloaking Device it will take one hour before you can change it again, making it possible for you to have a new attack each second hour.</font>

<font color=CCInfoHeader>If the cloaking device is turned ON from the status OFF</font>
<font color=CCInfoText>Congratulations, you have hidden your city somewhat from the Aliens, and they will only attack you once per 7 days.</font>

<a href="file://alien index.html">Back to Main Menu</a>