<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>What is a CRU and how to get it</font> 

<font color=CCInfoText>CRU is an abbreviation of Controller Recompiler Unit, Rubikans call it CRU for short. They can be purchased from people, certain shops (even though we advice against it since they're too expensive there), team missions and a quest.  They don't drop off dynacamp bosses, so don't go looking for them there. 

The QL of the CRU determines how much of the City Controller (CC) it will repaired for. A QL50 CRU will repair for 50% (so if the CC is at 25%, it will end up at 75% charge). To use a CRU, left-click it to pick it up, and then right-click on the City Controller. 

Either you want to do an alien raid, or you have some free time to do something beneficial for your guild. Now what do you do? 

First thing's first...find a team! Oftentimes, you'll hear /shouts and seeking team channel for more people to join a CRU team. If you can join one, go ahead. Otherwise, form your own team. Remember, the members you have in your team, the more loot the boss will drop. Sometimes bosses drop more than 1 CRU each. Ideally, you'll have a full team. 

Now that you have your team, rush over to your favorite mission terminal, and start pulling missions. It's best if everyone in the team is in a different zone, so that the other people won't get their mission slots filled up by your missions. You can try locations such as Sentinel/Hope, Avalon, OA...maybe even WA/WW/VW/Bliss. Just make sure you're alone. 

The QL of the mission doesn't matter much (although it can affect the QL of the CRU). Basically, you want a QL mission where you can easily blitz to the boss room, as well as kill the boss (as well as possible boss adds). If you want, you can even pick a full easy mission, where the boss will be gray to you.

Try to pull as many missions as you can (you might find only 1-2 CRU's per 9 missions). You might want to take an extra step and make sure they're all in the same zone, or at least close to grid/whom-pah locations. 
Once you're done, head back into town, sell all the rewards/loot you collected, and pull your next set of missions. 

The mission settings are to your preference, although you might want to avoid things such as monster bosses (harder than humanoid bosses). We advise to set it to RLLRRL (Basically LLLRRR, but with full money and full bad). </font> 

<a href="file://alien index.html">Back to Main Menu</a>