<font color=CCInfoHeadline>Windguaerd's Alien Database v3.0</font> 

<font color=CCInfoHeader>Recharging a City Controller</font> 

<font color=CCInfoText>You are able to charge the city controller using CRU items that you use on the controller. Some of these are available in certain profession shops (however these are very expensive), and as well as loot in team missions. These items are tradeable and sellable (except the CRU which is acquired through a quest), so  make sure to ask around if any players have these for sale in the shopping channels or use the Global Search terminal in towns to look for some. Any player can charge any city controller (even if you are not in the organization which owns the city).

Note: Always have the City Controller charged to 100% before a raid, usually at the end of the ground part of it will be between 50% to 10%.</font> 

<a href="file://alien index.html">Back to Main Menu</a>