/* generic elements */
body {
  background-color: #ebe9e6;
}
/* links */
a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
/* shadow wrapper */
#shadow_wrapper {
  width: 900px;
}
.main_banner {
  width: 760px;
  height: 82px;
}
#shadow_sides_box {
  background-image: url('/styling/funcom-style/bg-shadow-sides.png');
}
#shadow_bottom_box {
  height: 40px;
  background-image: url('/styling/funcom-style/bg-shadow-bottom.png');
}
/* master wrapper */
#master_wrapper {
  table-layout: fixed;
  width: 780px;
  background-color: #fff;
}
/* IE8 requires fixed table layout and a first row containing the widths */
#master_wrapper #first_row {  
  visibility:hidden;
  height: 0px;
}
#first_row #left_col_width {
  width: 0px;
}
#first_row #content_col_width {
  width: 700px;
}
#first_row #right_col_width {
  width: 0px;
}


/* Left & right columns */
#master_top_box, #master_bottom_box {
  height: 0px;
  background-color: transparent;
  padding: 10px;
}
#master_left_box  #master_right_box {
  background-color: transparent;
}
/* content wrapper */
#content_wrapper {
  background-color: transparent;
  padding: 10px;
}
/* the content itself */
#master_content {
  /*text-align: center;*/
}
/* breaker spaces */
br.v_space_01 {
  margin-top: 10px;
}
/* width setters */
.width_01 {
  width: 60%;
}
.width_02 {
  width: 50%;
}
.width_03 {
  width: 35%;
}
.width_04 {
  width: 70%;
}
width_05 {
  width: 90%;
}
/* text-align setters */
.text_align_01 {
  text-align: center;
}
.text_align_02 {
  text-align: left;
}
.text_align_03 {
  text-align: right;
}
.v_align_01 {
  vertical-align: top;
}
/* Special elements */
.full_width_textarea {
  width: 100%;
  height: 200px;
}
