/* main banner */
.main_banner {
  background: url('/styling/funcom-style/banner/funcom.gif');
  background-repeat: no-repeat;
  background-color: #AD0E30;
}

/* box content */
div.content {
  padding: 5px;
}

/* dualbox */
table.clean {
   width: 100%;
}

/* dualbox */
table.dualBox {
   width: 100%;
}
table td.dualBoxBackground {
   width: 360px;
   vertical-align: top;
   background: #FFFFFF;
   border: solid #CCCCCC 2px;
   border-top: 0px;
}
table.dualBox td {
   width: 370px;
   vertical-align: top;
}
table td.dualBoxMiddle {
   width: 40px;
}
table td.dualBoxMiddle2 {
   width: 40px;
}
table td.dualBoxWide1 {
   width: 520px;
}

table td.dualBoxNarrow1 {
   width: 220px;
}

table th.dualBoxHeader {
   background-image: url('/styling/funcom-style/boxImages/infoTableTop.png');
   background-repeat: no-repeat;
   background-position: top left;
   height: 24px;
   color: #FFFFFF;
   vertical-align: middle;
   text-align: center;
   width: 360px;
   border: solid #AD0E30 2px;
   border-bottom: 0px;
}
table td.dualBoxBottom {
   background-image: url('/styling/funcom-style/boxImages/infoTableBottom.png');
   background-repeat: no-repeat;
   height: 2px;
   width: 360px;
}

/* wideBox */
table.wideBox {
   width: 100%;
}
table.wideBox tr {
   background: transparent;
}
table tr.wideBoxAlt {
   background: #EEEEEE;
}
table tr.wideBoxAlert {
   background: #ff6666;
}
table.wideBox td {
   padding: 5px;
   border: solid #CCCCCC 2px;
   border-top: 0px;
}
table.wideBox th {
   background-image: url('/styling/funcom-style/boxImages/wideTableTop.png');
   background-position: top left;
   height: 24px;
   padding-left: 5px;
   padding-right: 5px;
   color: #FFFFFF;
   vertical-align: middle;
   text-align: center;
   border: solid #AD0E30 2px;
   border-bottom: 0px;
}
table td.wideBoxBottom {
   background-image: url('/styling/funcom-style/boxImages/wideTableBottom.png');
   background-position: bottom;
   background-repeat: no-repeat;
   height: 2px;
}
/* widebox inner elements */
td.serviceActionLink {
  cursor: pointer;
}
td.serviceActionLink.attention {
  background-color : #CCFFCC;
  color: #000000;
  text-decoration: none;
}
div.thumbNail{
   width: 150px;
   height: 66px;
   text-align: left;
   float: left;
   background: transparent url('/styling/branding/conan/thumbnails/default.png') no-repeat;
   vertical-align: top;
}
div.thumbNail.addonProduct {
  float: none;
  width: 66px;
  height: 66px;  
}
div.serviceText{
   width: 420px;
   text-align: left;
   float: left;
}
div.actionText {
   width: 100px;
   text-align: center;
   float: right;
}
div.actionText_wide {
   width: 300px;
   text-align: right;
   float: right;
}
div.fullText {
   width: 750px;
   text-align: center;
}
.widebox_content {
  margin: 0px auto 0px auto;
}
/* text formatting */
div.serviceText h2, div.actionText h2  {
  margin: 0px;
}
table.subscriptionBatch{
/*   width: 500px; */
   table-layout: fixed;
}
