/* forms and input */
form {
  text-align: left;
  padding: 1px;
  margin: 0px auto 0px auto;
}
form input {
  margin: 0px;
  padding: 1px;
}
form div.field label {
  float: left;
  width: 40%;
  text-align: left;
  padding-top: 3px;
  padding-right: 2px;
  vertical-align: top;
}
form div.buttons {
  text-align: center;
  clear: both;
}
form div.buttons input {

}
form div.field {
  padding: 2px 0px 2px 0px;
  clear: both;
}
form div.field input {

}
form div.field textarea {
  overflow: hidden;
}

/* required star */
field .required {
  float: left;
  vertical-align: top;
}

/* value display; mimicks the form layout */
.value_display {
  text-align: left;
  padding: 1px;
  margin: 0px auto 0px auto;
}
.value_display div.field {
  padding: 2px 0px 2px 0px;
}
.value_display div.field label {
  float: left;
  width: 40%;
  text-align: left;
  padding-right: 2px;
  vertical-align: top;
  font-weight: bold;
}
.value_display div.field .value {
  vertical-align: top;
}