/* layout */
.feedback_box {
  padding: 10px;
  border-width: 2px;
  border-style: solid;
  text-align: center;
}
.input_feedback_box_inline, .input_feedback_box {
  width: 200px;
  padding: 2px;
  border-width: 1px;
  border-style:solid;
}
.input_feedback_box_inline {
  float: right;
  clear: left;
}
.input_feedback_box {
  margin: 0px auto 0px auto;
}

/* critical error */
.critical_error {
  background-color : #ff6666;
  color: #000;
  border-color: #f00;
}
/* form input error */
.form_error, .general_error, .input_error {
  background-color : #FFDB91;
  border-color: #FF865E;
  color: #666666
}
/* information */
.information {
  background-color : #CCFFCC;
  border-color: #00FF66;
  color: #000000;
}

/* headings */
.feedback_box h2 {
  margin-top: 0px;
  margin-bottom: 3px;
  border-top: 1px solid #000!important;
  border-bottom: 1px solid #000 !important;
}
.feedback_box h3 {
  margin-top: 0px;
  margin-bottom: 3px;
}