#header_links, #footer_links {
  float: right;
}
#master_footer {

}
/* custom elements */
#global_logout {
  float: left;
}
#hackerSafe {
  width: 115px;
  float: right;
}
#footer_copyright {
  height: 32px;
  background-image: url('/styling/funcom-style/logos/funcom_footer_logo.gif');
  background-repeat: no-repeat;
  padding-left: 31px;
  float: left;
}

#topBackButton{
  font-size: 120%;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 20px;
}