/* generic elements */
body, div, img, td{
  padding: 0px;
  margin: 0px;
  border: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height:23px;
}
table {
  border-collapse: collapse;
}
/* shadow wrapper */
#shadow_wrapper {
  margin: 0px auto 0px auto;
}
#shadow_sides_box {
  background-repeat: repeat-y;
  background-position: center;
}
#shadow_bottom_box {
  background-repeat: no-repeat;
  background-position: bottom center;
}
/* master wrapper */
#master_wrapper {
  margin: 0px auto 0px auto;
}
#master_top_box, #master_bottom_box {
}
#master_left_box, #master_right_box {
}
/* content wrapper */
#content_wrapper {

}
/* floating helpers classes */
.float_left {
  float: left;
}
.float_right {
  float: right;
}
br.float_clear {
  clear: both;
}
.truncate_width {
  width: 0px;
}
.thumbNail.funcom_points{
  background-image: url('/styling/funcom-style/thumbnails/points.png');
}
