/* price table */
.priceTable td {
  border: 0px !important; 
  background: transparent !important;
  padding: 1px !important;
  text-align: left;
}

/* Payment stati background colors */
.payment {
  color: #000;
}
.payment a {
  color: #000;
  text-decoration: underline;
}
.payment.pending {
  background-color: #EED9A6;  
}
.payment.approved {
  background-color: #BDEEA6;  
}
.payment.denied {
  background-color: #EEA6A6;
}
.payment.failed {
  background-color: #EEA6A6;
}
.payment.awaiting {
  background-color: #C64D4D;
}
span.payment.legend_box {
  height: 20px !important;
  width: 20px !important;
  border: 1px solid #000;
  position: relative;
  display: inline;
}
table.clearTable {
   border-collapse: collapse;
   border-width: 0px;
}
table.clearTable td {
   border-width: 0px;
}
