/* service action thumnails overrides */

div.thumbNail{
   background-image: url('/styling/branding/anarchy/thumbnails/anarchy_online.png');
}
/* paid service thumbnalis*/
.thumbNail.beta{
  background-image: url('/styling/branding/anarchy/thumbnails/beta.png');
}
.thumbNail.leetpet{
  background-image: url('/styling/branding/anarchy/thumbnails/leetpet.gif');
}
.thumbNail.mech{
  background-image: url('/styling/branding/anarchy/thumbnails/mech.gif');
}
.thumbNail.jobe_apartment{
  background-image: url('/styling/branding/anarchy/thumbnails/apartment.gif');
}

/* action thumbnails */
.thumbNail.cancelsubscription {
  background-image: url('/styling/branding/anarchy/thumbnails/cancel.png');
}
.thumbNail.upgrade{
  background-image: url('/styling/branding/anarchy/thumbnails/default.png');
}
.thumbNail.change_membership{
  background-image: url('/styling/branding/anarchy/thumbnails/default.png');
}
.thumbNail.grace{
  background-image: url('/styling/branding/anarchy/thumbnails/grace.png');
}



.thumbNail.anarchy_online{
  background-image: url('/styling/branding/anarchy/thumbnails/anarchy_online.png');
}
.thumbNail.notum_wars{
  background-image: url('/styling/branding/anarchy/thumbnails/notum_wars.png');
}
.thumbNail.shadowlands{
  background-image: url('/styling/branding/anarchy/thumbnails/shadowlands.png');
}
.thumbNail.shadowlands_pre{
  background-image: url('/styling/branding/anarchy/thumbnails/shadowlands_pre.png');
}
.thumbNail.alien_invasion{
  background-image: url('/styling/branding/anarchy/thumbnails/alien_invasion.png');
}
.thumbNail.alien_invasion_pre{
  background-image: url('/styling/branding/anarchy/thumbnails/alien_invasion_pre.png');
}
.thumbNail.lost_eden{
  background-image: url('/styling/branding/anarchy/thumbnails/lost_eden.png');
}
.thumbNail.lost_eden_pre{
  background-image: url('/styling/branding/anarchy/thumbnails/lost_eden_pre.png');
}
.thumbNail.xan{
  background-image: url('/styling/branding/anarchy/thumbnails/xan.png');
}
.thumbNail.xan_pre{
  background-image: url('/styling/branding/anarchy/thumbnails/xan_pre.png');
}
.thumbNail.anarchy_mail{
  background-image: url('/styling/branding/anarchy/thumbnails/mail.png');
}
.thumbNail.lost_eden_obs{
  background-image: url('/styling/branding/anarchy/thumbnails/lost_eden_obs.png');
}
.thumbNail.namechange{
  background-image: url('/styling/branding/anarchy/thumbnails/namechange.png');
}
.thumbNail.merge{
  background-image: url('/styling/branding/anarchy/thumbnails/merge.png');
}
.thumbNail.veteran{
  background-image: url('/styling/branding/anarchy/thumbnails/veteran.png');
}
.thumbNail.transfer{
  background-image: url('/styling/branding/anarchy/thumbnails/transfer.png');
}
