body
{
	background: #202020;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
        color: #fff;
}
#master_wrapper {
	background: #37373b;
}
a, a:visited
{
	color: #ff9a49;
}
a:hover
{
	color: #ccc;
	text-decoration: underline;
}

input, select, textarea
{
	background: #cccccc;
	border: 1px solid #000;
}

input:hover, input:focus, select:hover, select:focus
{
	background: #FCF1C1;
}

#content_wrapper
{
	color: #efefef;
}
#footer_copyright
{
	background-image: url("funcom.gif");
	background-repeat: no-repeat;
}

.main_banner
{
	background-image: url("banner.jpg");
}
/* dualbox */
table.dualBox {
   width: 100%;
}
table td.dualBoxBackground {
   width: 360px;
   vertical-align: top;
   border-top: 0px;
   background: #202020;
}
table.dualBox td {
   width: 370px;
   vertical-align: top;
   border: 0px;
}
table td.dualBoxMiddle {
   width: 40px;
}
table td.dualBoxMiddle2 {
   width: 40px;
}
table td.dualBoxWide1 {
   width: 520px;
}

table td.dualBoxNarrow1 {
   width: 220px;
}

table th.dualBoxHeader {
   height: 24px;
   color: #FFFFFF;
   vertical-align: middle;
   text-align: center;
   width: 360px;
	 background: #5d636b;
	 background-image: url("wideTableTop.png");
   border: 0px;
}
table td.dualBoxBottom {
   height: 0px;
   width: 360px;
}

.wideBox
{
	background: #202020;
}

table.wideBox td
{
	border: 0px;
}

table.wideBox th
{
	background: #5d636b;
	background-image: url("wideTableTop.png");
	border: 0px;
}

.wideBoxAlt td
{
	background: #3c3c3c;
}

.form_error, .general_error, .input_error
{
	background-color : #c64d4d;
	border-color: #e7a8a8;
	color: #FFF
}

.feedback_box h2
{
	color: #000;
}