/* body text */
body{
 font-family : Arial,Helvetica,Verdana,sans-serif;
 font-size : 9pt;
}
/* links */
a, a:hover, a:visited {
  color: #666666;
}
/* headings */
h1 {
  text-align: center;
  font-size: 12pt;
}
h2 {
  font-size: 11pt;
  padding: 2px;
  margin: 2px;
}
h3 {
  font-size: 9pt;
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
}
.small {
  font-size : 8pt;
}
.attention {
  font-weight: bolder;
  color: #bb0000;
  text-decoration: underline;
}

.strikethrough {
  text-decoration: line-through;
}