/* Anarchy (superproduct & addon) thumbails  */
.thumbNail.anarchy {
  background-image: url('/styling/branding/anarchy/thumbnails/anarchy_online.png');
}
.thumbNail.tsw {
   background-image: url('/styling/branding/tsw/thumbnails/default.png');
}
.thumbNail.ao {
  background-image: url('/styling/branding/anarchy/thumbnails/default.png');
}
/* addon products thumbnails */
.thumbNail.losteden {
  background-image: url('/styling/branding/anarchy/thumbnails/default.png');
}
.thumbNail.shadowlands{
  background-image: url('/styling/branding/anarchy/thumbnails/default.png');
}
.thumbNail.alieninvasion{
  background-image: url('/styling/branding/anarchy/thumbnails/default.png');
}
.thumbNail.funcom_points{
  background-image: url('/styling/funcom-style/thumbnails/points.png');
}

.thumbNail.funcom_points_1{
  background-image: url('/styling/funcom-style/thumbnails/points_1.png');
}

.thumbNail.funcom_points_2{
  background-image: url('/styling/funcom-style/thumbnails/points_2.png');
}

.thumbNail.funcom_points_3{
  background-image: url('/styling/funcom-style/thumbnails/points_3.png');
}

.thumbNail.funcom_points_4{
  background-image: url('/styling/funcom-style/thumbnails/points_4.png');
}

.thumbNail.funcom_points_5{
  background-image: url('/styling/funcom-style/thumbnails/points_5.png');
}

.thumbNail.notumwars{
  background-image: url('/styling/branding/anarchy/thumbnails/default.png');
}


/* Conan (superproduct & addon) thumbails  */
.thumbNail.conan {
  background-image: url('/styling/branding/conan/thumbnails/default.png');
}
/* addon products thumbnails */
.thumbNail.conan_rhino {
  background-image: url('/styling/branding/conan/thumbnails/icon_virtual_item_rhino.png');
}
.thumbNail.conan_bow {
  background-image: url('/styling/branding/conan/thumbnails/icon_virtual_item_amaz-bow.png');
}
.thumbNail.conan_firework {
  background-image: url('/styling/branding/conan/thumbnails/icon_virtual_item_firework.png');
}
.thumbNail.conan_mammoth {
  background-image: url('/styling/branding/conan/thumbnails/icon_virtual_item_mammoth.png');
}
.thumbNail.conan_ring {
  background-image: url('/styling/branding/conan/thumbnails/icon_virtual_item_ring.png');
}
.thumbNail.conan_cape {
  background-image: url('/styling/branding/conan/thumbnails/icon_drinking-cape.png');
}
.thumbNail.conan_ring_copper_hastening {
  background-image: url('/styling/branding/conan/thumbnails/icon_ring_copper_hastening.png');
}
.thumbNail.conan_ring_silver_hastening {
  background-image: url('/styling/branding/conan/thumbnails/icon_ring_silver_hastening.png');
}
.thumbNail.conan_ring_gold_hastening {
  background-image: url('/styling/branding/conan/thumbnails/icon_ring_gold_hastening.png');
}
.thumbNail.conan_totem {
  background-image: url('/styling/branding/conan/thumbnails/icon_virtual_item_totem.png');
}
.thumbNail.conan_firework2{
  background-image: url('/styling/branding/conan/thumbnails/icon_virtual_item_firework1.png');
}
.thumbNail.conan_snowmammoth{
  background-image: url('/styling/branding/conan/thumbnails/icon_snowmammoth.png');
}
.thumbNail.conan_bag{
  background-image: url('/styling/branding/conan/thumbnails/icon_bag.png');
}
.thumbNail.conan_20disc{
  background-image: url('/styling/branding/conan/thumbnails/20disc.png');
}
.thumbNail.conan_us {
  background-image: url('/styling/branding/conan/thumbnails/icon_flag_US.png');
}
.thumbNail.conan_eu {
  background-image: url('/styling/branding/conan/thumbnails/icon_flag_EU.png');
}

.thumbNail.conan_newbie_1hb {
  background-image: url('/styling/branding/conan/thumbnails/icon_newbie_1hblunt.png');
}
.thumbNail.conan_newbie_1he {
  background-image: url('/styling/branding/conan/thumbnails/icon_newbie_1hedge.png');
}
.thumbNail.conan_newbie_2he {
  background-image: url('/styling/branding/conan/thumbnails/icon_newbie_2hedge.png');
}
.thumbNail.conan_newbie_bow {
  background-image: url('/styling/branding/conan/thumbnails/icon_newbie_bow.png');
}
.thumbNail.conan_newbie_dagger {
  background-image: url('/styling/branding/conan/thumbnails/icon_newbie_dagger.png');
}
.thumbNail.conan_newbie_staff {
  background-image: url('/styling/branding/conan/thumbnails/icon_newbie_1hblunt.png');
}

.thumbNail.conan_talisman {
  background-image: url('/styling/branding/conan/thumbnails/icon_talisman.png');
}

.thumbNail.conan_pet_kappa {
  background-image: url('/styling/branding/conan/thumbnails/icon_pet_kappa.png');
}
.thumbNail.conan_pet_ravager {
  background-image: url('/styling/branding/conan/thumbnails/icon_pet_ravager.png');
}

.thumbNail.conan_ring_rotgs {
  background-image: url('/styling/branding/conan/thumbnails/icon_ring_expansion.png');
}

.thumbNail.conan_tsw {
  background-image: url('/styling/branding/conan/thumbnails/icon_tsw.png');
}
.thumbNail.conan_headguard {
  background-image: url('/styling/branding/conan/thumbnails/icon_headguard.png');
}
.thumbNail.conan_godslayer {
  background-image: url('/styling/branding/conan/thumbnails/icon_godslayer.png');
}
.thumbNail.conan_dragonspine {
  background-image: url('/styling/branding/conan/thumbnails/icon_dragonspine.png');
}
.thumbNail.conan_wings {
  background-image: url('/styling/branding/conan/thumbnails//icon_virtual_item_wings.png');
}
.thumbNail.conan_owl {
  background-image: url('/styling/branding/conan/thumbnails/icon_pets_owl.png');
}
.thumbNail.conan_baboon {
  background-image: url('/styling/branding/conan/thumbnails/icon_pets_baboon.png');
}
.thumbNail.conan_crab {
  background-image: url('/styling/branding/conan/thumbnails/icon_pets_crab.png');
}
.thumbNail.conan_croc {
  background-image: url('/styling/branding/conan/thumbnails/icon_pets_crocodile.png');
}
.thumbNail.conan_warlord {
  background-image: url('/styling/branding/conan/thumbnails/icon_warlords_cache.png');
}


/* TLJ (superproduct & addon) thumbails  */
.thumbNail.tlj {
  background-image: url('/styling/branding/tlj/thumbnails/default.png');
}

.thumbNail.bloodline {
  background-image: url('/styling/branding/bloodline/thumbnails/default.png');
}

.thumbNail.mobpaylogo {
  background-image: url('/styling/funcom-style/paymo_thumb.png ');
  width: 85px;
}