<font color=CCInfoHeadline>About AO Universe</font> 

<font color=CCInfoHeader>What is AO Universe?</font> 

<font color=CCInfoText> A fansite by players, for players. From roleplayers to casual and powerplayers.

RP content, including stories from players, revisiting past events which shaped AO's storyline, past and current details on official storyline content, RP related news from the roleplaying community (including org advertising). Also feature links to the official forums (related to RP only).

Knowledge content. We're currently getting the permission from several smaller sites to allow AOU to repoduce their gameplay guides (including maps), so far everyone we have managed to contact have given their ok (each guide will have the proper credits to the original people/sites who hosted it). WE expect for this site to host more guides than any other fansite that currently exists (including the larger gaming network sites). This will be useful to all types of players.

Powerplaying content, this includes annoucements of raids (regardless of server, faction) by players, listing of raiding bots (and what is required to join them), basic rules of raiding and steady support for the powerplayers. This will include of course the many wars that are fought over Notum Bases (we will try to cover news of battles as well if possible).

Additional content/downloads. Hosting overall utilities used by the community, like Clicksaver, AOShopAgent, AOScripter, Launcher Skins, Wallpapers, etc.

Also a set of forums for all types of players to interact, exchange information, share AO stories, and more.

Those who want to become a Team members/volunteer do so on their own accord, no pay, only gratification will be...you did it for the community, the friends you play with, and the love for the game.

<font color=CCInfoHeader>Sponsor:</font> 

Currently we're hosted by http://netmastering.nl at no cost, their contribution to the AO Community.

<font color=CCInfoHeader>Special thanks:</font> 

To Xitami for hooking us up with our hosting and domain and to the many players who supported this project, you made this happen!

So check out </font><font color=CCInfoHeader>(http://ao-universe.com)</font><font color=CCInfoText>and tell your AO friends and guildmates about us!</font> 