<font color=CCInfoHeadline>Windguaerd's Line of Fire Voicepack</font>
<font color=CCInfoText>Instant Macros, just click on the link an a macro will be ready for you to add to your shortcut bar. You can also go <a href="file://lof list.html">back to the voice list</a>.</font>

<font color=CCInfoHeader>Headquarters</font> 
<a href="chatcmd:///macro HQ1 /voice access_denied">Access Denied</a>
<a href="chatcmd:///macro HQ2 /voice access_granted">Access Granted</a>
<a href="chatcmd:///macro HQ3 /voice coordinates_received">Coordinates Received</a>
<a href="chatcmd:///macro HQ4 /voice incoming_transmission">Incoming Transmission</a>
<a href="chatcmd:///macro HQ5 /voice establishing_datalink">Establishing Datalink</a>
<a href="chatcmd:///macro HQ6 /voice research_complete">Research Complete</a>
<a href="chatcmd:///macro HQ7 /voice simulation_complete">Simulation Complete</a>
<a href="chatcmd:///macro HQ8 /voice processing_request">Processing Request</a>
<a href="chatcmd:///macro HQ9 /voice negative">Negative</a>
<a href="chatcmd:///macro HQ10 /voice no_commander">No Commander</a>
<a href="chatcmd:///macro HQ11 /voice yes_commander">Yes Commander</a>
<a href="chatcmd:///macro HQ12 /voice engines_engaged_commander">Engines Engaged Commander</a>
<a href="chatcmd:///macro HQ13 /voice weapons_engaged">Weapons Engaged</a>
<a href="chatcmd:///macro HQ14 /voice weapons_disengaged">Weapons Disengaged</a>
<a href="chatcmd:///macro HQ15 /voice all_crew_to_battle_stations">All Crew to Battle Stations</a>
<a href="chatcmd:///macro HQ16 /voice ready_to_launch_squadron">Ready to Launch Squadron</a>
<a href="chatcmd:///macro HQ17 /voice squadron_away">Squadron Away</a>
<a href="chatcmd:///macro HQ18 /voice squadrons_returning_to_base">Squadrons Returning to Base</a>
<a href="chatcmd:///macro HQ19 /voice all_squads_in">All Squads in</a>

<font color=CCInfoHeader>Team Commands (Male)</font>
<a href="chatcmd:///macro TM1 /voice male_acknowledged">Acknowledged</a>
<a href="chatcmd:///macro TM2 /voice male_affirmative">Affirmative</a>
<a href="chatcmd:///macro TM3 /voice male_agree">Couldn't agree more</a>
<a href="chatcmd:///macro TM4 /voice male_roger">Roger that</a>
<a href="chatcmd:///macro TM5 /voice male_yes">Yes</a>
<a href="chatcmd:///macro TM6 /voice male_allcosts">At all costs</a>
<a href="chatcmd:///macro TM7 /voice male_weaponsfree">Weapons free</a>
<a href="chatcmd:///macro TM8 /voice male_weaponshold">Weapons hold</a>
<a href="chatcmd:///macro TM9 /voice male_back">Watch your backs</a>
<a href="chatcmd:///macro TM10 /voice male_nofear">No fear</a>
<a href="chatcmd:///macro TM11 /voice male_orders">Orders received</a>
<a href="chatcmd:///macro TM12 /voice male_omw">On our way</a>
<a href="chatcmd:///macro TM13 /voice male_move-out">We're short on time, lets move out</a>
<a href="chatcmd:///macro TM14 /voice male_moving">Moving out</a>
<a href="chatcmd:///macro TM15 /voice male_night">Going to night vision</a>
<a href="chatcmd:///macro TM16 /voice male_fog">Can't see squat in this fog</a>
<a href="chatcmd:///macro TM17 /voice male_blind">We can't see them, they can't see us</a>
<a href="chatcmd:///macro TM18 /voice male_home">Maybe they all went home</a>
<a href="chatcmd:///macro TM19 /voice male_cold">Man it's cold!</a>
<a href="chatcmd:///macro TM20 /voice male_quiet">Keep it quiet</a>
<a href="chatcmd:///macro TM21 /voice male_expecting">Think they're expecing us?</a>
<a href="chatcmd:///macro TM22 /voice male_cake">Probably baked us a cake</a>
<a href="chatcmd:///macro TM23 /voice male_position">In position</a>
<a href="chatcmd:///macro TM24 /voice male_visual">In visual range</a>
<a href="chatcmd:///macro TM25 /voice male_hold">Holding</a>
<a href="chatcmd:///macro TM26 /voice male_holdingpos">Holding position</a>
<a href="chatcmd:///macro TM27 /voice male_target">Target in sight</a>
<a href="chatcmd:///macro TM28 /voice male_reached">Objective reached</a>
<a href="chatcmd:///macro TM29 /voice male_unguarded">The gate's unguarded</a>
<a href="chatcmd:///macro TM30 /voice male_enemy">Enemy sighted</a>
<a href="chatcmd:///macro TM31 /voice male_beenmade">We've been made</a>
<a href="chatcmd:///macro TM32 /voice male_detected">They see us!</a>
<a href="chatcmd:///macro TM33 /voice male_spotted">We're spotted</a>
<a href="chatcmd:///macro TM34 /voice male_ugly">This could get ugly</a>
<a href="chatcmd:///macro TM35 /voice male_cover">Taking cover!</a>
<a href="chatcmd:///macro TM36 /voice male_fire">Fire at will</a>
<a href="chatcmd:///macro TM37 /voice male_inforce">Engaging in force</a>
<a href="chatcmd:///macro TM38 /voice male_firefight">Got a mayor firefight here!</a>
<a href="chatcmd:///macro TM39 /voice male_heavyfire">Taking some heavy fire!</a>
<a href="chatcmd:///macro TM40 /voice male_pindown">We're pinned down!</a>
<a href="chatcmd:///macro TM41 /voice male_confirmed">Kill confirmed</a>
<a href="chatcmd:///macro TM42 /voice male_history">He's history</a>
<a href="chatcmd:///macro TM43 /voice male_damage">Heh, someone is not getting his damage deposit back</a>
<a href="chatcmd:///macro TM44 /voice male_enemyretreat">They're pulling back</a>
<a href="chatcmd:///macro TM45 /voice male_hooah!">Hooah!</a>
<a href="chatcmd:///macro TM46 /voice male_wounded">We got wounded</a>
<a href="chatcmd:///macro TM47 /voice male_needmedic">Need a medic!</a>
<a href="chatcmd:///macro TM48 /voice male_holdfire">Hold your fire!</a>
<a href="chatcmd:///macro TM49 /voice male_ceasefire">Ceasefire!</a>
<a href="chatcmd:///macro TM50 /voice male_civilians">Got some civilians</a>
<a href="chatcmd:///macro TM51 /voice male_friendies">Friendlies in sight</a>
<a href="chatcmd:///macro TM52 /voice male_got-it">Got it</a>
<a href="chatcmd:///macro TM53 /voice male_objective">Objective completed</a>
<a href="chatcmd:///macro TM54 /voice male_prisoner">Prisoner secured</a>
<a href="chatcmd:///macro TM55 /voice male_gotcargo">Got the cargo</a>
<a href="chatcmd:///macro TM56 /voice male_allyourbase">All your base are belong to us</a>

<font color=CCInfoHeader>Team Commands (Female)</font>
<a href="chatcmd:///macro FM1 /voice female_acknowledged">Acknowledged</a>
<a href="chatcmd:///macro FM2 /voice female_affirmative">Affirmative</a>
<a href="chatcmd:///macro FM3 /voice female_agree">Couldn't agree more</a>
<a href="chatcmd:///macro FM4 /voice female_roger">Roger that</a>
<a href="chatcmd:///macro FM5 /voice female_yes">Yes</a>
<a href="chatcmd:///macro FM6 /voice female_allcosts">At all costs</a>
<a href="chatcmd:///macro FM7 /voice female_weaponsfree">Weapons free</a>
<a href="chatcmd:///macro FM8 /voice female_weaponshold">Weapons hold</a>
<a href="chatcmd:///macro FM9 /voice female_back">Watch your backs</a>
<a href="chatcmd:///macro FM10 /voice female_nofear">No fear</a>
<a href="chatcmd:///macro FM11 /voice female_orders">Orders received</a>
<a href="chatcmd:///macro FM12 /voice female_omw">On our way</a>
<a href="chatcmd:///macro FM13 /voice female_move-out">We're short on time, lets move out</a>
<a href="chatcmd:///macro FM14 /voice female_moving">Moving out</a>
<a href="chatcmd:///macro FM15 /voice female_night">Going to night vision</a>
<a href="chatcmd:///macro FM16 /voice female_fog">Can't see squat in this fog</a>
<a href="chatcmd:///macro FM17 /voice female_blind">We can't see them, they can't see us</a>
<a href="chatcmd:///macro FM18 /voice female_home">Maybe they all went home</a>
<a href="chatcmd:///macro FM19 /voice female_cold">Man it's cold!</a>
<a href="chatcmd:///macro FM20 /voice female_quiet">Keep it quiet</a>
<a href="chatcmd:///macro FM21 /voice female_expecting">Think they're expecing us?</a>
<a href="chatcmd:///macro FM22 /voice female_cake">Probably baked us a cake</a>
<a href="chatcmd:///macro FM23 /voice female_position">In position</a>
<a href="chatcmd:///macro FM24 /voice female_visual">In visual range</a>
<a href="chatcmd:///macro FM25 /voice female_hold">Holding</a>
<a href="chatcmd:///macro FM26 /voice female_holdingpos">Holding position</a>
<a href="chatcmd:///macro FM27 /voice female_target">Target in sight</a>
<a href="chatcmd:///macro FM28 /voice female_reached">Objective reached</a>
<a href="chatcmd:///macro FM29 /voice female_unguarded">The gate's unguarded</a>
<a href="chatcmd:///macro FM30 /voice female_enemy">Enemy sighted</a>
<a href="chatcmd:///macro FM31 /voice female_beenmade">We've been made</a>
<a href="chatcmd:///macro FM32 /voice female_detected">They see us!</a>
<a href="chatcmd:///macro FM33 /voice female_spotted">We're spotted</a>
<a href="chatcmd:///macro FM34 /voice female_ugly">This could get ugly</a>
<a href="chatcmd:///macro FM35 /voice female_cover">Taking cover!</a>
<a href="chatcmd:///macro FM36 /voice female_fire">Fire at will</a>
<a href="chatcmd:///macro FM37 /voice female_inforce">Engaging in force</a>
<a href="chatcmd:///macro FM38 /voice female_firefight">Got a mayor firefight here!</a>
<a href="chatcmd:///macro FM39 /voice female_heavyfire">Taking some heavy fire!</a>
<a href="chatcmd:///macro FM40 /voice female_pindown">We're pinned down!</a>
<a href="chatcmd:///macro FM41 /voice female_confirmed">Kill confirmed</a>
<a href="chatcmd:///macro FM42 /voice female_history">He's history</a>
<a href="chatcmd:///macro FM43 /voice female_damage">Heh, someone is not getting his damage deposit back</a>
<a href="chatcmd:///macro FM44 /voice female_enemyretreat">They're pulling back</a>
<a href="chatcmd:///macro FM45 /voice female_hooah!">Hooah!</a>
<a href="chatcmd:///macro FM46 /voice female_wounded">We got wounded</a>
<a href="chatcmd:///macro FM47 /voice female_needmedic">Need a medic!</a>
<a href="chatcmd:///macro FM48 /voice female_holdfire">Hold your fire!</a>
<a href="chatcmd:///macro FM49 /voice female_ceasefire">Ceasefire!</a>
<a href="chatcmd:///macro FM50 /voice female_civilians">Got some civilians</a>
<a href="chatcmd:///macro FM51 /voice female_friendies">Friendlies in sight</a>
<a href="chatcmd:///macro FM52 /voice female_got-it">Got it</a>
<a href="chatcmd:///macro FM53 /voice female_objective">Objective completed</a>
<a href="chatcmd:///macro FM54 /voice female_prisoner">Prisoner secured</a>
<a href="chatcmd:///macro FM55 /voice female_gotcargo">Got the cargo</a>
<a href="chatcmd:///macro FM56 /voice female_allyourbase">All your base are belong to us</a>

<font color=CCInfoHeader>Team Miscellaneous Commands (Male)</font>
<a href="chatcmd:///macro TMC1 /voice yes_sir!">Yes sir!</a>
<a href="chatcmd:///macro TMC2 /voice understood">Understood</a>
<a href="chatcmd:///macro TMC3 /voice advance_at_all_costs">Advance at all costs</a>
<a href="chatcmd:///macro TMC4 /voice i_hear_you">I hear you</a>
<a href="chatcmd:///macro TMC5 /voice gotcha!">Gotcha!</a>
<a href="chatcmd:///macro TMC6 /voice we're_gone">We're gone</a>
<a href="chatcmd:///macro TMC7 /voice we're_on_the_way">We're on the way</a>
<a href="chatcmd:///macro TMC8 /voice target_spotted">Target spotted</a>
<a href="chatcmd:///macro TMC9 /voice in_place_and_ready">In place and ready</a>
<a href="chatcmd:///macro TMC10 /voice enemy_sighted">Enemy Sighted</a>
<a href="chatcmd:///macro TMC11 /voice heavy_fire_on_our_position">Heavy fire on our position</a>
<a href="chatcmd:///macro TMC12 /voice catching_lead_in_buckets_here!">Catching lead in buckets here!</a>
<a href="chatcmd:///macro TMC13 /voice scratch_another_one">Scratch another one</a>
<a href="chatcmd:///macro TMC14 /voice order_some_coffins">Order some coffins</a>
<a href="chatcmd:///macro TMC15 /voice medic!">Medic!</a>
<a href="chatcmd:///macro TMC16 /voice enemy_is_falling_back">Enemy is falling back</a>
<a href="chatcmd:///macro TMC17 /voice look_at_them_go">Look at them go</a>
<a href="chatcmd:///macro TMC18 /voice cease_your_firing!">Cease your firing!</a>
<a href="chatcmd:///macro TMC19 /voice we're_friendly!">We're friendly!</a>
<a href="chatcmd:///macro TMC20 /voice hostage_secured">Hostage Secured</a>