<font color=CCInfoHeadline>Windguaerd's Line of Fire Voicepack</font>
<font color=CCInfoText>This is Windguaerd's voicepack with over 150 voice commands, available to the rubikan public. You can use the list provided here, or you can <a href="file://lof macros.html">make Instant Macros</a>. You can also learn more about <a href="file://aou.html">AO Universe</a></font>

<font color=CCInfoHeader>Headquarters</font> 
<a href="chatcmd:///voice access_denied">Access Denied</a>
<a href="chatcmd:///voice access_granted">Access Granted</a>
<a href="chatcmd:///voice coordinates_received">Coordinates Received</a>
<a href="chatcmd:///voice incoming_transmission">Incoming Transmission</a>
<a href="chatcmd:///voice establishing_datalink">Establishing Datalink</a>
<a href="chatcmd:///voice research_complete">Research Complete</a>
<a href="chatcmd:///voice simulation_complete">Simulation Complete</a>
<a href="chatcmd:///voice processing_request">Processing Request</a>
<a href="chatcmd:///voice negative">Negative</a>
<a href="chatcmd:///voice no_commander">No Commander</a>
<a href="chatcmd:///voice yes_commander">Yes Commander</a>
<a href="chatcmd:///voice engines_engaged_commander">Engines Engaged Commander</a>
<a href="chatcmd:///voice weapons_engaged">Weapons Engaged</a>
<a href="chatcmd:///voice weapons_disengaged">Weapons Disengaged</a>
<a href="chatcmd:///voice all_crew_to_battle_stations">All Crew to Battle Stations</a>
<a href="chatcmd:///voice ready_to_launch_squadron">Ready to Launch Squadron</a>
<a href="chatcmd:///voice squadron_away">Squadron Away</a>
<a href="chatcmd:///voice squadrons_returning_to_base">Squadrons Returning to Base</a>
<a href="chatcmd:///voice all_squads_in">All Squads in</a>

<font color=CCInfoHeader>Team Commands (Male)</font>
<a href="chatcmd:///voice male_acknowledged">Acknowledged</a>
<a href="chatcmd:///voice male_affirmative">Affirmative</a>
<a href="chatcmd:///voice male_agree">Couldn't agree more</a>
<a href="chatcmd:///voice male_roger">Roger that</a>
<a href="chatcmd:///voice male_yes">Yes</a>
<a href="chatcmd:///voice male_allcosts">At all costs</a>
<a href="chatcmd:///voice male_weaponsfree">Weapons free</a>
<a href="chatcmd:///voice male_weaponshold">Weapons hold</a>
<a href="chatcmd:///voice male_back">Watch your backs</a>
<a href="chatcmd:///voice male_nofear">No fear</a>
<a href="chatcmd:///voice male_orders">Orders received</a>
<a href="chatcmd:///voice male_omw">On our way</a>
<a href="chatcmd:///voice male_move-out">We're short on time, lets move out</a>
<a href="chatcmd:///voice male_moving">Moving out</a>
<a href="chatcmd:///voice male_night">Going to night vision</a>
<a href="chatcmd:///voice male_fog">Can't see squat in this fog</a>
<a href="chatcmd:///voice male_blind">We can't see them, they can't see us</a>
<a href="chatcmd:///voice male_home">Maybe they all went home</a>
<a href="chatcmd:///voice male_cold">Man it's cold!</a>
<a href="chatcmd:///voice male_quiet">Keep it quiet</a>
<a href="chatcmd:///voice male_expecting">Think they're expecing us?</a>
<a href="chatcmd:///voice male_cake">Probably baked us a cake</a>
<a href="chatcmd:///voice male_position">In position</a>
<a href="chatcmd:///voice male_visual">In visual range</a>
<a href="chatcmd:///voice male_hold">Holding</a>
<a href="chatcmd:///voice male_holdingpos">Holding position</a>
<a href="chatcmd:///voice male_target">Target in sight</a>
<a href="chatcmd:///voice male_reached">Objective reached</a>
<a href="chatcmd:///voice male_unguarded">The gate's unguarded</a>
<a href="chatcmd:///voice male_enemy">Enemy sighted</a>
<a href="chatcmd:///voice male_beenmade">We've been made</a>
<a href="chatcmd:///voice male_detected">They see us!</a>
<a href="chatcmd:///voice male_spotted">We're spotted</a>
<a href="chatcmd:///voice male_ugly">This could get ugly</a>
<a href="chatcmd:///voice male_cover">Taking cover!</a>
<a href="chatcmd:///voice male_fire">Fire at will</a>
<a href="chatcmd:///voice male_inforce">Engaging in force</a>
<a href="chatcmd:///voice male_firefight">Got a mayor firefight here!</a>
<a href="chatcmd:///voice male_heavyfire">Taking some heavy fire!</a>
<a href="chatcmd:///voice male_pindown">We're pinned down!</a>
<a href="chatcmd:///voice male_confirmed">Kill confirmed</a>
<a href="chatcmd:///voice male_history">He's history</a>
<a href="chatcmd:///voice male_damage">Heh, someone is not getting his damage deposit back</a>
<a href="chatcmd:///voice male_enemyretreat">They're pulling back</a>
<a href="chatcmd:///voice male_hooah!">Hooah!</a>
<a href="chatcmd:///voice male_wounded">We got wounded</a>
<a href="chatcmd:///voice male_needmedic">Need a medic!</a>
<a href="chatcmd:///voice male_holdfire">Hold your fire!</a>
<a href="chatcmd:///voice male_ceasefire">Ceasefire!</a>
<a href="chatcmd:///voice male_civilians">Got some civilians</a>
<a href="chatcmd:///voice male_friendies">Friendlies in sight</a>
<a href="chatcmd:///voice male_got-it">Got it</a>
<a href="chatcmd:///voice male_objective">Objective completed</a>
<a href="chatcmd:///voice male_prisoner">Prisoner secured</a>
<a href="chatcmd:///voice male_gotcargo">Got the cargo</a>
<a href="chatcmd:///voice male_allyourbase">All your base are belong to us</a>

<font color=CCInfoHeader>Team Commands (Female)</font>
<a href="chatcmd:///voice female_acknowledged">Acknowledged</a>
<a href="chatcmd:///voice female_affirmative">Affirmative</a>
<a href="chatcmd:///voice female_agree">Couldn't agree more</a>
<a href="chatcmd:///voice female_roger">Roger that</a>
<a href="chatcmd:///voice female_yes">Yes</a>
<a href="chatcmd:///voice female_allcosts">At all costs</a>
<a href="chatcmd:///voice female_weaponsfree">Weapons free</a>
<a href="chatcmd:///voice female_weaponshold">Weapons hold</a>
<a href="chatcmd:///voice female_back">Watch your backs</a>
<a href="chatcmd:///voice female_nofear">No fear</a>
<a href="chatcmd:///voice female_orders">Orders received</a>
<a href="chatcmd:///voice female_omw">On our way</a>
<a href="chatcmd:///voice female_move-out">We're short on time, lets move out</a>
<a href="chatcmd:///voice female_moving">Moving out</a>
<a href="chatcmd:///voice female_night">Going to night vision</a>
<a href="chatcmd:///voice female_fog">Can't see squat in this fog</a>
<a href="chatcmd:///voice female_blind">We can't see them, they can't see us</a>
<a href="chatcmd:///voice female_home">Maybe they all went home</a>
<a href="chatcmd:///voice female_cold">Man it's cold!</a>
<a href="chatcmd:///voice female_quiet">Keep it quiet</a>
<a href="chatcmd:///voice female_expecting">Think they're expecing us?</a>
<a href="chatcmd:///voice female_cake">Probably baked us a cake</a>
<a href="chatcmd:///voice female_position">In position</a>
<a href="chatcmd:///voice female_visual">In visual range</a>
<a href="chatcmd:///voice female_hold">Holding</a>
<a href="chatcmd:///voice female_holdingpos">Holding position</a>
<a href="chatcmd:///voice female_target">Target in sight</a>
<a href="chatcmd:///voice female_reached">Objective reached</a>
<a href="chatcmd:///voice female_unguarded">The gate's unguarded</a>
<a href="chatcmd:///voice female_enemy">Enemy sighted</a>
<a href="chatcmd:///voice female_beenmade">We've been made</a>
<a href="chatcmd:///voice female_detected">They see us!</a>
<a href="chatcmd:///voice female_spotted">We're spotted</a>
<a href="chatcmd:///voice female_ugly">This could get ugly</a>
<a href="chatcmd:///voice female_cover">Taking cover!</a>
<a href="chatcmd:///voice female_fire">Fire at will</a>
<a href="chatcmd:///voice female_inforce">Engaging in force</a>
<a href="chatcmd:///voice female_firefight">Got a mayor firefight here!</a>
<a href="chatcmd:///voice female_heavyfire">Taking some heavy fire!</a>
<a href="chatcmd:///voice female_pindown">We're pinned down!</a>
<a href="chatcmd:///voice female_confirmed">Kill confirmed</a>
<a href="chatcmd:///voice female_history">He's history</a>
<a href="chatcmd:///voice female_damage">Heh, someone is not getting his damage deposit back</a>
<a href="chatcmd:///voice female_enemyretreat">They're pulling back</a>
<a href="chatcmd:///voice female_hooah!">Hooah!</a>
<a href="chatcmd:///voice female_wounded">We got wounded</a>
<a href="chatcmd:///voice female_needmedic">Need a medic!</a>
<a href="chatcmd:///voice female_holdfire">Hold your fire!</a>
<a href="chatcmd:///voice female_ceasefire">Ceasefire!</a>
<a href="chatcmd:///voice female_civilians">Got some civilians</a>
<a href="chatcmd:///voice female_friendies">Friendlies in sight</a>
<a href="chatcmd:///voice female_got-it">Got it</a>
<a href="chatcmd:///voice female_objective">Objective completed</a>
<a href="chatcmd:///voice female_prisoner">Prisoner secured</a>
<a href="chatcmd:///voice female_gotcargo">Got the cargo</a>
<a href="chatcmd:///voice female_allyourbase">All your base are belong to us</a>

<font color=CCInfoHeader>Team Miscellaneous Commands (Male)</font>
<a href="chatcmd:///voice yes_sir!">Yes sir!</a>
<a href="chatcmd:///voice understood">Understood</a>
<a href="chatcmd:///voice advance_at_all_costs">Advance at all costs</a>
<a href="chatcmd:///voice i_hear_you">I hear you</a>
<a href="chatcmd:///voice gotcha!">Gotcha!</a>
<a href="chatcmd:///voice we're_gone">We're gone</a>
<a href="chatcmd:///voice we're_on_the_way">We're on the way</a>
<a href="chatcmd:///voice target_spotted">Target spotted</a>
<a href="chatcmd:///voice in_place_and_ready">In place and ready</a>
<a href="chatcmd:///voice enemy_sighted">Enemy Sighted</a>
<a href="chatcmd:///voice heavy_fire_on_our_position">Heavy fire on our position</a>
<a href="chatcmd:///voice catching_lead_in_buckets_here!">Catching lead in buckets here!</a>
<a href="chatcmd:///voice scratch_another_one">Scratch another one</a>
<a href="chatcmd:///voice order_some_coffins">Order some coffins</a>
<a href="chatcmd:///voice medic!">Medic!</a>
<a href="chatcmd:///voice enemy_is_falling_back">Enemy is falling back</a>
<a href="chatcmd:///voice look_at_them_go">Look at them go</a>
<a href="chatcmd:///voice cease_your_firing!">Cease your firing!</a>
<a href="chatcmd:///voice we're_friendly!">We're friendly!</a>
<a href="chatcmd:///voice hostage_secured">Hostage Secured</a>