<font color=CCInfoHeadline>Windguaerd's I KILL YOU! Mini Voicepack</font>
<font color=CCInfoText>This is Windguaerd's mini voicepack with 12 voice commands, available to all AO Gamers. You can use the list provided here, or you can <a href="file://Scripts\Iku\iku_macros.html">make Instant Macros</a>. You can also learn more about <a href="file://Scripts\AOU_mod\HelpFiles\aou.html">AO Universe</a></font>

<a href="chatcmd:///voice Iku\welcome_iku">Welcome to Anarchy Online... IKU!</a>
<a href="chatcmd:///voice Iku\bio_break_iku">Bio Break? Not Allowed!... IKU!</a>
<a href="chatcmd:///voice Iku\ebay_iku">Eeebay!... IKU!</a>
<a href="chatcmd:///voice Iku\heal_iku">Heal dammit! Heal!... IKU!</a>
<a href="chatcmd:///voice Iku\kill_adds_iku">Kill the adds! Kill the adds godammit!... IKU!</a>
<a href="chatcmd:///voice Iku\noob_iku">Noob... Noob!... IKU!</a>
<a href="chatcmd:///voice Iku\lag_iku">Laaag, Laaag, Laaag!... IKU!</a>
<a href="chatcmd:///voice Iku\eat_denied_iku">You gotta eat? Denied!... IKU!</a>
<a href="chatcmd:///voice Iku\leave_raid_iku">You're leaving the raid? Not allowed!... IKU!</a>
<a href="chatcmd:///voice Iku\leave_team_iku">You're leaving the team? Not allowed!... IKU!</a>
<a href="chatcmd:///voice Iku\bad_pull_iku">What kind of pull was that?... IKU!</a>
<a href="chatcmd:///voice Iku\wrong_way_iku">Wrong way genius!... IKU!</a>

<font color=CCInfoText>Disclaimer: This is Wind's way of dealing with the frustrating times when you want to keep on gaming but things happen that pretty much hinders you when you're on a roll. Enjoy it and try not to abuse it.</font>
