<font color=CCInfoHeadline>Windguaerd's I KILL YOU! Mini Voicepack</font>
<font color=CCInfoText>Instant Macros, just click on the link an a macro will be ready for you to add to your shortcut bar. You can also go <a href="file://Scripts\Iku\iku_list.html">back to the voice list</a>.</font>

<a href="chatcmd:///macro IKU1 /voice Iku\welcome_iku">Welcome to Anarchy Online... IKU!</a>
<a href="chatcmd:///macro IKU2 /voice Iku\bio_break_iku">Bio Break? Not Allowed!... IKU!</a>
<a href="chatcmd:///macro IKU3 /voice Iku\ebay_iku">Eeebay!... IKU!</a>
<a href="chatcmd:///macro IKU4 /voice Iku\heal_iku">Heal dammit! Heal!... IKU!</a>
<a href="chatcmd:///macro IKU5 /voice Iku\kill_adds_iku">Kill the adds! Kill the adds godammit!... IKU!</a>
<a href="chatcmd:///macro IKU6 /voice Iku\noob_iku">Noob... Noob!... IKU!</a>
<a href="chatcmd:///macro IKU7 /voice Iku\lag_iku">Laaag, Laaag, Laaag!... IKU!</a>
<a href="chatcmd:///macro IKU8 /voice Iku\eat_denied_iku">You gotta eat? Denied!... IKU!</a>
<a href="chatcmd:///macro IKU9 /voice Iku\leave_raid_iku">You're leaving the raid? Not allowed!... IKU!</a>
<a href="chatcmd:///macro IKU10 /voice Iku\leave_team_iku">You're leaving the team? Not allowed!... IKU!</a>
<a href="chatcmd:///macro IKU11 /voice Iku\bad_pull_iku">What kind of pull was that?... IKU!</a>
<a href="chatcmd:///macro IKU12 /voice Iku\wrong_way_iku">Wrong way genius!... IKU!</a>

<font color=CCInfoText>Disclaimer: This is Wind's way of dealing with the frustrating times when you want to keep on gaming but things happen that pretty much hinders you when you're on a roll. Enjoy it and try not to abuse it.</font>