body {
    background:#505050;
    font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:12px;
    color:#FFFFFF;
}

div#OrgStats {
    text-align:center;
    width: 900px;
    height: 700px;
}

div#OrgStatsCenteredTitle {
    text-align:center;
    padding: 20px;
    width: 850px;
}

div#OrgStatsLeftColumn {
    float: left;
    padding: 20px;
    margin: 10px;
    width: 350px;
}

div#OrgStatsRightColumn {
    float: right;
    padding: 20px;
    margin: 10px;
    width: 350px;
}

div.OrgStatsBox {
	border: 1px solid #808080;
    margin: 10px;
}

div.OrgStatsTable {
    display: table;
}


div.OrgStatsRow {
    display: table-row;
}

div.OrgStatsTitleCell {
    display: table-cell;
	font-weight: bold;
    padding: 10px;
    background-color: #AAAAAA; 
}

div.OrgStatsLastTitleCell {
    display: table-cell;
    background-color: #AAAAAA; 
    padding: 10px;
    width: 100%;
}

div.OrgStatsCell {
    display: table-cell;
    padding: 10px;
}

div.OrgStatsBar {
    background-color: #A0A0A0; 
}
